.menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea el menú a la derecha */
    justify-content: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 100%;
    box-sizing: border-box;
    padding-right: 15vw; /* Espacio desde el borde derecho */
}

/* Animaciones sutiles para la transición entre menús */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-10px); }
}

.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

.fade-out {
    animation: fadeOut 0.5s ease-in forwards;
}

.main-menu, .extras-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;
}

.menu-button {
    padding: 0.5rem;
    font-family: var(--font-family);
    font-size: 1.8rem;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu-button:hover {
    color: var(--accent-color);
}

/* Regla de responsividad para dispositivos móviles */
@media (max-width: 768px) {
    .menu-container {
        align-items: center; /* Centra el menú en pantallas pequeñas */
        padding-right: 0; /* Elimina el padding derecho */
    }
}